#requerimientos para correr programa pip install -r requirements.txt

django
python-certifi-win32
pip-system-certs
pillow
django-admin-interface
django-crispy-forms
mysqlclient
pymysql
djangorestframework
mssql-django
pyodbc
crispy_bootstrap5