{%extends 'app/base.html'%}
{% load static %}
{% block contenido %}
<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <table class="table mt-3">
        <thead class="thead-dark">
          <tr>
            <th>Solicitante</th>
            <th>ID producto</th>
			<th>Fecha solicitada</th>
            <th>Estado Solicitud</th>
            <th>Cambiar Estado</th>
            {% if aux.estado == "completado"%}
            <th>eliminar</th>
            {% endif %}
          </tr>
        </thead>
        {% for aux in solicitudes %}
		{% for aux2 in historiales %}
		{% if aux.usuario == aux2.usuario %}
        <tbody>
          <tr class="table-success">
            <td>{{ aux.usuario }}</td> 
            <td>{{ aux.Producto }}</td>
            <td>{{ aux2.estado }}</td>
            <td>{{ aux.fecha_servicio }}</td>
            <td>
                <form action="# " method="POST" class="" enctype="multipart/form-data">
                    {% csrf_token %}
                <input type="hidden" name="id" id="id" value="{{aux.id}}">
                {% if aux.estado == "En curso" %}
                <select class="browser-default" name="selecciona" id="seleccion">  
                    <option value="{{ aux.estado }}" selected>{{aux.estado}}</option>
                    <option value="aceptado">aceptado</option>
                    <option value="rechazado">rechazado</option>
                    <option value="entregado">completado</option>
                  </select>
                  <input type="submit" class="btn btn-success  mt-3" value="Modificar">
                {% endif %}
                {% if aux.estado == "aceptado" %}
                <select class="browser-default"  name="selecciona" id="seleccion">
                    <option value="En curso">En curso</option>
                    <option value="{{ aux.estado }}" selected>{{aux.estado}}</option>
                    <option value="rechazado">rechazado</option>
                    <option value="completado">completado</option>
                  </select>
                  <input type="submit" class="btn btn-success  mt-3" value="Modificar">  
                {% endif %}
                {% if aux.estado == "rechazado" %}
                <select class="browser-default"  name="selecciona" id="seleccion">
                    <option value="En curso">En curso</option>
                    <option value="aceptado">aceptado</option>
                    <option value="{{aux.estado}}" selected>{{aux.estado}}</option>
                    <option value="completado">completado/option>
                  </select>
                  <input type="submit" class="btn btn-success  mt-3" value="Modificar">

				{% if aux.estado == "completado" %}
				<td>
				</td>
				{% endif %}
			</tr>
			{% endif %}
			{% endfor %}
			{% endfor %}
			</tbody>
		</table>
		</div>
	</div>
{% endblock %}