{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}

<!--==================================
=            User Profile            =
===================================-->
<section class="dashboard section">
	<!-- Container Start -->
	<div class="container">
		<!-- Row Start -->
		<div class="row">
			<div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
				<div class="sidebar">
					<!-- User Widget -->
					<div class="widget user-dashboard-profile">
						<!-- User Image -->
						<div class="profile-thumb">
							<img src="{% static 'core/images/user/user-thumb.jpg' %}" alt="" class="rounded-circle">
						</div>
						<!-- User Name -->
						<h5 class="text-center">Samanta Doe</h5>
						<p>Joined February 06, 2017</p>
					</div>
					<!-- Dashboard Links -->
					<div class="widget user-dashboard-menu">
						<ul>

							<li>
								<a href="{% url 'perfil' %}"><i class="fa fa-user"></i> Perfil</a></li>
							<li>
							<li>
								<a href="{% url 'solicitud_servicio' %}"><i class="fa fa-bolt"></i> Solicitud de servicio<span>23</span></a>
							</li>
							<li>
								<a href="{% url 'historial_productos' user.id %}"><i class="fa fa-bookmark-o"></i> Historial Compra <span>5</span></a>
							</li>
							<li>
								<a href="{% url 'historial_servicios' user.id %}"><i class="fa fa-file-archive-o"></i>Historial Solicitudes <span>12</span></a>
							</li>
							<li>
								<a href="{% url 'index' %}"><i class="fa fa-cog"></i> Cerrar Sesion</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
				<!-- Recently Favorited -->
				<div class="widget dashboard-container my-adslist">
					<h3 class="widget-header">My Ads</h3>
					<table class="table table-responsive product-dashboard-table">
						<thead>
							<tr>
								<th>Image</th>
								<th>Product Title</th>
								<th class="text-center">Category</th>
								<th class="text-center">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								{% for aux in lista_historial %}
								{% for aux2 in  lista_items %}
								{% for aux3 in lista_productos %}
								{% if aux3.productos.Id_producto == aux2.id_Producto %}
								<td class="product-thumb">
									<img width="80px" height="auto" src="{% static 'core/images/products/products-1.jpg' %}" alt="image description"></td>
								<td class="product-details">
									<h3 class="title">{{ aux2.nombre }}</h3>
									<span class="add-id"><strong>ID compra:</strong> {{ aux.id }}</span>
									<span><strong>Fecha de compra: </strong><time>{{ aux.fecha_compra }}</time> </span>
									<span class="status active"><strong>Estado:</strong>{{ aux.estado_despacho }}</span>
									<span class="location"><strong>Location</strong>Dhaka,Bangladesh</span>
								</td>
								
								{% for aux3 in lista_tipo %}
								{% if aux2.tipo_Producto == aux3.id_Tipo_Producto %}
								<td class="product-category"><span class="categories"></span>{{ aux3.tipo_Producto }}</td>
								{% endif %}
								{% endfor %}
								<td class="action" data-title="Action">
									<div class="">
										<ul class="list-inline justify-content-center">
											<li class="list-inline-item">
												<a data-toggle="tooltip" data-placement="top" title="Tooltip on top" class="view" href="{% url 'despacho' %}">
													<i class="fa fa-eye"></i>
												</a>		
											</li>
											<li class="list-inline-item">
												<a class="edit" href="">
													<i class="fa fa-pencil"></i>
												</a>		
											</li>
											<li class="list-inline-item">
												<a class="delete" href="">
													<i class="fa fa-trash"></i>
												</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>
							{% endif %}
							{% endfor %}
							{% endfor %}
							{% endfor %}
						</tbody>
					</table>
					
				</div>
			</div>
		</div>
		<!-- Row End -->
	</div>
	<!-- Container End -->
</section>

{% endblock %}